*/*.go
data
test
bin
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.dvi
doc/*.log
doc/neighborsDoc.pdf
doc/neighborsDoc.ps
doc/*.toc
doc/dree.tex
doc/makeNeiDb.tex
doc/neighbors.tex
doc/tax.tex
doc/taxi.tex
doc/tdb.tex
doc/tutorial.tex
doc/util.tex

# Programs
makeNeiDb/makeNeiDb
makeNeiDb/test.db
neighbors/neighbors
neighbors/makeRes.sh
dree/dree

# Misc
dree/makeRes.sh
tutorial/drawTrees.sh
