*/*.go
data
test
bin
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.dvi
doc/*.log
doc/neighborsDoc.pdf
doc/neighborsDoc.ps
doc/*.toc
doc/ants.tex
doc/dree.tex
doc/findMacs.tex
doc/makeNeiDb.tex
doc/neighbors.tex
doc/land.tex
doc/pickle.tex
doc/rad.tex
doc/tax.tex
doc/taxi.tex
doc/tdb.tex
doc/tutorial.tex
doc/util.tex

# Programs
ants/ants
dree/dree
findMacs/findMacs
findMacs/bedtools.sh
findMacs/makeTestData.sh
makeNeiDb/makeNeiDb
makeNeiDb/test.db
neighbors/neighbors
neighbors/makeRes.sh
taxi/taxi
land/land
pickle/pickle
rad/rad

# Misc
dree/makeRes.sh
neighbors-docker
tutorial/drawTrees.sh
