data/*.db
data/acc.txt
data/assembly_summary_genbank.txt
data/assembly_summary_refseq.txt
data/citations.dmp
data/delnodes.dmp
data/division.dmp
data/eukaryotes.txt
data/gc.prt
data/gencode.dmp
data/images.dmp
data/merged.dmp
data/names.dmp
data/neidb
data/nodes.dmp
data/prokaryotes.txt
data/readme.txt
data/taxdump.tar.gz
data/viruses.txt
test
bin
*/*~
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.dvi
doc/*.log
doc/neighborsDoc.pdf
doc/neighborsDoc.ps
doc/*.toc
doc/ants.tex
doc/climt.tex
doc/date.txt
doc/dree.tex
doc/fintac.tex
doc/makeNeiDb.tex
doc/neighbors.tex
doc/land.tex
doc/outliers.tex
doc/pickle.tex
doc/tax.tex
doc/taxi.tex
doc/tdb.tex
doc/tutorial.tex
doc/util.tex
doc/version.txt

# Programs and databases
ants/ants
climt/climt
dree/dree
dree/dree.sh
fintac/fintac
land/land
makeNeiDb/makeNeiDb
makeNeiDb/test.db
neighbors/makeRes.sh
neighbors/neighbors
outliers/makeRes.sh
outliers/outliers
pickle/makeRes.sh
pickle/pickle
taxi/extraTests.sh
taxi/taxi
tutorial/*.db/
tutorial/*.fasta
tutorial/acc.txt
tutorial/all/
tutorial/db.sh
tutorial/large
tutorial/lpn.dist
tutorial/lpn.nwk
tutorial/nacc.txt
tutorial/ndata.zip
tutorial/ndata/
tutorial/neidb
tutorial/neighbors/
tutorial/query.sh
tutorial/small
tutorial/tacc.txt
tutorial/targets/
tutorial/tdata.zip
tutorial/tdata/
tutorial/tlen.dat

# Misc
dree/makeRes.sh
edist/
neighbors-docker
tutorial/drawTrees.sh
